.about {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "image" "text";
  margin-bottom: 4em;
}

.about-text {
  display: flex;
  grid-area: text;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 2em;
}

.about-image {
  grid-area: image;
  overflow: hidden;
  height: 100%;
}

.about-text > .horizontal-line {
  width: 60px;
  height: 2px;
  background-color: #fff;
}

.about-text > p {
  color: #fff;
}

/*small phones*/ /*small phones*/
@media (min-width: 360px) and (max-width: 380px) {
  .about-text {
    padding: 1em;
  }
}

/* ipad*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*ipad pro*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .about {
    margin: 0;
    grid-template-columns: 0.75fr 1fr;
    grid-template-areas: "text image";
    display: relative;
  }

  .about-text {
    padding: 8em 2em;
  }
}

/*laptops and large displays*/
@media (min-width: 1200px) {
  .about {
    height: auto;
    margin: 0;
    grid-template-columns: 0.65fr 1fr;
    grid-template-rows: none;
    grid-template-areas: "text image";
  }
}
